/*https://stackoverflow.com/questions/18032220/css-change-image-src-on-imghover help with hover*/

/*desktop*/
body {
	height: 100hv;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	background-color: #2C5B6C;
	cursor: crosshair;
}

.box1 {
	height: 100vh;
	width: 40vw;
}

.links {
	height: 85%;
	width: 40%;
	position: fixed;
}

.intro {
	font-family: 'Homemade Apple', cursive;
	text-align: center;
	font-size: 20px;
	color: #998C55;
	padding-top: 2px;
	text-justify: center;
}

.sub {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

p::selection {
	background-color: #B2AEC9;
	color: #1C121F;
}

.box2 {
	height:100vh;
	width: 60vw;
	display: flex;
	flex-wrap: wrap;
}

.box {
	height: 25%;
	width: 100%;
}

.lightblue, .lightblue2 {
	background-color: #CCCAC4;
}

.darkblue, .darkblue2{
	background-color: #B07A03;
}

.photo {
	max-height: 100%;
	max-width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.hidden {
	opacity: 0;
}

.pt1 {
	height: 100%;
	width: 50%;
}

.pt2 {
	height: 100%;
	width: 50%;
}

/*mobile 1*/
@media screen and (max-width: 1350px) {
	.box1 {
		height: 10vh;
		width: 100vw;
		background-color: #2C5B6C;
	}
	.intro {
		display: none;
	}

	.box2 {
		height: 90vh;
		width: 100vw;
	}
}

/*mobile 2*/
@media screen and (max-width: 600px) {
	.pt1 {
		width: 100%;
	}
	.pt2 {
		width: 100%;
	}
	
	.lightblue2 {
		background-color: #B07A03;
	}
	
	.darkblue2 {
		background-color: #CCCAC4;
	}
	
	.photo {
		width: 70%;
		padding-left: 15%;
	}
} 
