/*https://stackoverflow.com/questions/18032220/css-change-image-src-on-imghover help with hover*/

/*desktop*/
body {
	height: 100hv;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	background-color: #1C121F;
	cursor: crosshair;
}

.box1 {
	height: 100vh;
	width: 40vw;
}

.links {
	height: 85%;
	width: 100%;
}

.intro {
	font-family: 'Homemade Apple', cursive;
	text-align: center;
	color: #B2AEC9;
	padding: 2px;
}

p::selection {
	background-color: #B2AEC9;
	color: #1C121F;
}

.box2 {
	height:100vh;
	width: 60vw;
	display: flex;
	flex-wrap: wrap;
}

.board {
	
}

.pt1 {
	height: 100%;
	width: 50%;
}

.name {
	font-family: 'Cardo', serif;
	color: white;
}

.photo {
	height: 30%;
	width: 80%;
}

.sideA {
	padding-right: 5%;
	padding-left: 5%;
}

.sideB {
	padding-left: 5%;
}

.left {
	text-align: left;
	padding-left: 5%;
}

.right {
	text-align: right;
	padding-right: 15%;
}

.coraline2 {
	content: url(images/coraline2);
	height: 20%;
	width: 90%;
}

.pt2 {
	height: 100%;
	width: 50%;
}



.othermother {
	
}

/*mobile 1*/
@media screen and (max-width: 1000px) {
	.box1 {
		height: 10vh;
		width: 100vw;
		background-color: #FF9B25;
		opacity: 0.9;
	}
	.intro {
		display: none;
	}
	.box2 {
		height: 90vh;
		width: 100vw;
	}

}

/*mobile 2*/
@media screen and (max-width: 600px) {
	.pt1 {
		width: 100%;
	}
	.pt2 {
		width: 100%;
	}
} 
