body {
	height: 100hv;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	background-color: #CCCAC4;
	cursor: crosshair;
}

.box1 {
	height: 100vh;
	width: 40vw;
}

.duchess {
	width: 400px;
	height: 400px;
	border: double;
	filter: none;
	opacity: .8%;
	filter: grayscale(30%);
}

.woc:hover {
	cursor: pointer;
	color: #3D3B34;
	transition: .5s;
}

.intro {
	height: 85%;
	width: 40%;
	position: fixed;
	font-family: 'Homemade Apple', cursive;
	text-align: center;
	font-size: 25px;
	color: #453F26;
	padding-top: 2px;
}

.sub {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-left: 20%;
	margin-right: 20%;
}

.box2 {
	height:100vh;
	width: 60vw;
	display: flex;
	flex-wrap: wrap;
}

.box {
	height: 25%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #CCCAC4;
}

.light {
	background-color: #799DAB;
}

.dark{
	background-color: #5E7A84;
}

.photo {
	max-height: 100%;
	max-width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.cats:hover {
	filter: grayscale(60%);
	transition: .5s;
	cursor: pointer;
}

.dark:hover {
	cursor: pointer;
}

.box:hover {
	filter: grayscale(60%);
	transition: .5s;
}

.pt1 {
	height: 100%;
	width: 50%;
}

.pt2 {
	height: 100%;
	width: 50%;
}

/*mobile*/
@media screen and (max-width: 1050px) {
	.box1 {
		height: 10vh;
		width: 100vw;
	}
	
	.intro {
		height: 5vh;
		width: 100vw;
		font-size: 25px;
		padding-bottom: 4px;
		position: initial;
	}
	
	.sub, .duchess {
		display: none;
	}

	.box2 {
		height: 90vh;
		width: 100vw;
	}
	
	.box {
		font-size: 20px;
	}
}
